{% extends "base1.html" %}
{%block title%} Tik Tag - הכן ת QR למזוודה בתיקתק!{%endblock%}
{%block header%}  אין יותר מזוודות אבודות! {%endblock%}
{%block subtitle%}  באמצעות אתר זה תוכל להכין תג QR מותאם אישית שאותו תוכל להדפיס ולהדביק על המזוודה {%endblock%}
{%block content%} 
חוששים לאבד את המזוודה בשדה התעופה? גם אתם נבהלתם מערימות המזוודות בנתב"ג?
<br>
מעכשיו אתם יכולים להפסיק לחשוש! 
האתר שפיתחתי מאפשר לכם ליצור תיק תג   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-qr-code" viewBox="0 0 16 16">
    <path d="M2 2h2v2H2V2Z"/>
    <path d="M6 0v6H0V0h6ZM5 1H1v4h4V1ZM4 12H2v2h2v-2Z"/>
    <path d="M6 10v6H0v-6h6Zm-5 1v4h4v-4H1Zm11-9h2v2h-2V2Z"/>
    <path d="M10 0v6h6V0h-6Zm5 1v4h-4V1h4ZM8 1V0h1v2H8v2H7V1h1Zm0 5V4h1v2H8ZM6 8V7h1V6h1v2h1V7h5v1h-4v1H7V8H6Zm0 0v1H2V8H1v1H0V7h3v1h3Zm10 1h-1V7h1v2Zm-1 0h-1v2h2v-1h-1V9Zm-4 0h2v1h-1v1h-1V9Zm2 3v-1h-1v1h-1v1H9v1h3v-2h1Zm0 0h3v1h-2v1h-1v-2Zm-4-1v1h1v-2H7v1h2Z"/>
    <path d="M7 12h1v3h4v1H7v-4Zm9 2v2h-3v-1h2v-1h1Z"/>
  </svg>   שאפשר להדביק על המזוודה
 וכל אדם שמוצא אותה וסורק את הקוד מגיע ישירות אל חלון צ'אט 
WhatsApp עם המספר שלכם כך שיהיה ניתן להשיג אתכם תיק תק ולמנוע אובדן של המזוודה היקרה שלכם! 
{%endblock%}
{%block var%}


<form action="/" method = "POST">
    <div class="mb-3">
      <label for="EnterName" class="form-label">שם</label>
      <input type="text" class="form-control" name = "field1_name"  id="EnterName" aria-describedby="nameHelp">
      <div id="nameHelp" class="form-text">הכניסו את שמכם באנגלית.</div>
    </div>
    <div class="mb-3">
      <label for="EnterPhone" class="form-label">טלפון</label>
      <input type="tel" class="form-control" name = "field2_phone" pattern="[0-9]{10}" >
    </div>
    <button type="submit" class="btn btn-primary">שלח</button>
  </form>

{% if link %}
 <div class="p">
    <a href="{{link}}"class="btn btn-secondary" id="wa_button">    הקישור שלך:    </a>
    <br>
        <img  class="img-fluid print py-3" src="{{ qrcode(link,box_size=5, error_correction='H', icon_img='/static/logo.jpg')}}"> 
        <button class="btn btn-primary"onclick="window.print();return false;"  id="print_button">הדפס</button>
 </div>
{% endif %}

<img src="/static/travelers.svg" class="travelers" >

{%endblock%}
