body {
  visibility: hidden;
  display: none;
  max-height: 80vh;
  overflow: hidden;
}
.print {
  position: absolute;
  top: 0;
  visibility: visible;
  display: block;
  page-break-inside: avoid;
  margin-bottom: 0px;
  page-break-after: auto;
  
}
